{{> head}}
{{> navbar}}


<div class="row">
	<div class="col-8">
		<h1> El About</h1>
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquet volutpat sem, in lacinia est vestibulum sed. Nam tempor elit non faucibus porttitor. Curabitur vitae magna ut lectus euismod cursus non vel sapien. Suspendisse potenti. Vivamus ut lobortis est, a placerat purus. Mauris pharetra aliquet risus, nec gravida dui egestas id. Nullam sit amet egestas dolor. Donec feugiat sem in augue posuere, sed dignissim quam eleifend. Maecenas ultrices mauris vitae sagittis gravida.</p>

	</div>


	<div class="col-4">
		<img src="assets/img/flores.JPG" class="img-thumbnail">

	</div>
</div>


{{> footer}}